/* CSS Reset */
/* https://andy-bell.co.uk/a-modern-css-reset/ */

/* Box sizing rules */
*,
*::before,
*::after {
   box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
   margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
   list-style: none;
}

/* Set core root defaults */
html:focus-within {
   scroll-behavior: smooth;
}

/* Set core body defaults */
body {
   min-height: 100vh;
   text-rendering: optimizeSpeed;
   line-height: 1.5;
}

/* An element that doesn't have a class get default styles */
a:not([class]) {
   text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
   max-width: 100%;
   display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
   font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
   html:focus-within {
      scroll-behavior: auto;
   }

   *,
   *::before,
   *::after {
      animation-duration: 0.01ms !important;
      animation-iteration-count: 1 !important;
      transition-duration: 0.01ms !important;
      scroll-behavior: auto !important;
   }
}

/* ======= COLORS & FONTS ======== */
:root {
   font-family: 'Bai Jamjuree', sans-serif;
   font-size: 18px;

   --strong-cyan: hsl(171, 66%, 44%);
   --light-blue: hsl(233, 100%, 69%);
   --dark-grayish-blue: hsl(210, 10%, 33%);
   --grayish-blue: hsl(201, 11%, 66%);
   --btn-border-cyan: hsl(171, 66%, 36%);
   --btn-border-blue: hsl(233, 100%, 65%);
   --btn-shadow-cyan: hsla(171, 66%, 36%, 0.5);
   --btn-shadow-blue: hsla(233, 100%, 65%, 0.5);
}

h1 {
   color: var(--dark-grayish-blue);
   font-size: 30px;
   font-weight: 600px;
   line-height: 1.2;
}

h2 {
   color: var(--dark-grayish-blue);
   font-size: 25px;
   font-weight: 400px;
}

h3 {
   color: var(--dark-grayish-blue);
   font-size: 20px;
   font-weight: 400px;
}

h4 {
   color: var(--dark-grayish-blue);
   font-size: 15px;
   font-weight: 400px;
}

p {
   color: var(--grayish-blue);
}



.container {
   max-width: 1440px;
   margin: auto;
   overflow: hidden;
}

header {
   background: url("images/bg-header-desktop.png") no-repeat;
   background-size: contain;
   padding: 130px 75px;
   text-align: center;
}

.header-logo {
   display: block;
   margin: auto;
   margin-bottom: 55px;
}

.title-text {
   padding-bottom: 15px;
}

header>p {
   max-width: 690px;
   margin: auto;
   text-align: center;
   line-height: 1.5;
   margin-bottom: 50px;
}

button {
   color: #ffffff;
   font-size: 12px;
   padding: 10px 30px;
   border: none;
   border-radius: 20px;
   font-weight: 600;
   border-bottom: 3px solid;

}

.btn-primary {
   background-color: var(--strong-cyan);
   margin-right: 5px;
   border-color: var(--btn-border-cyan);
   box-shadow: 0 10px 30px -5px var(--btn-shadow-cyan);
}

.btn-secondary {
   background-color: var(--light-blue);
   margin-left: 5px;
   border-color: var(--btn-border-blue);
   box-shadow: 0 10px 30px -5px var(--btn-shadow-blue);
}

button:hover {
   opacity: 0.8;
   cursor: pointer;
}


.attribution {
   font-size: 11px;
   text-align: center;
}

.attribution a {
   color: hsl(228, 45%, 44%);
}